@font-face {
  font-family: NotoSans-Regular;
  src: url('../fonts/NotoSans/NotoSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: NotoSans-Bold;
  src: url('../fonts/NotoSans/NotoSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
